.homeList {
  color: black;
  font-size: 18px;
  background-color: aqua;
  padding: 5px;
  font-weight: bold;
}
.listMovies {
  padding: 5px;
  margin: 5px;
  text-decoration: none;
  font-weight: bold;
}
