.wrapperDetailPage {
  padding: 20px;
}

.buttonGoBack {
  font-size: 15px;
  padding: 10px;
  margin-left: 5px;
  margin-bottom: 10px;
  background-color: lightblue;
}
.mainCard {
  display: flex;
}

.mainInfo {
  margin-left: 25px;
  font-size: 15px;
}

.addInfo {
  margin-left: 5px;
  font-size: 15px;
  font-weight: bold;
}

.mainInfoLink {
  font-size: 15px;
  text-decoration: none;
  margin-left: 5px;
  color: black;
  list-style: none;
}
